.App {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Segoe UI', sans-serif;
  color: #24292e; /* GitHub dark gray */
}
